* {
  margin: 0px;
  padding: 0px;
}

body {
  text-align: center;
  background-image: url("../imagenes_video/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, Verdana, sans-serif;
}

#agrupar {
  width: 960px;
  margin: 15px auto;
}

section h1,
footer h1,
nav a,
aside h3 {
  font-family: Arial, Verdana, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

article p {
  font-family: Arial, Verdana, sans-serif;
  color: #1a1a1a;
  font-weight: normal;
  font-size: 1.1em;
  text-align: left;
  margin-top: 15px;
}

header h1 {
  font-family: Arial, Verdana, sans-serif;
  font-size: 6em;
  font-weight: normal;
  text-shadow: 3px 3px 0px #9ac757;
  color: white;
}

header h3 {
  font-family: Arial, Verdana, sans-serif;
  color: white;
  font-size: 1.5em;
}

#cabecera {
  background-position: center;
  padding: 80px;
  background-color: #c78457;
  box-shadow: 8px 8px 0px #9ac757;
  margin-bottom: 25px;
}

nav {
  padding: 5px 15px;
  background-color: #c78457;
  box-shadow: 8px 8px 0px #9ac757;
  margin-bottom: 25px;
}

nav li {
  display: inline-block;
  list-style: none;
  padding: 5px;
}

nav a {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #c7bc57;
  border-bottom: 3px;
  outline: a;
}

section {
  width: 660px;
  margin: 0px 20px 20px 0px;
  float: left;
}

article,
aside {
  display: inline-block;
  float: left;
}

article h3 {
  padding: 10px;
  color: #1a1a1a;
  font-weight: bold;
}

article {
  background: #c7bc57;
  box-shadow: 8px 8px 0px #9ac757;
  padding: 20px;
  margin-bottom: 15px;
}

#local {
  max-width: 100%;
  height: auto;
}

aside {
  float: left;
  width: 220px;
  padding: 20px;
  background: #c78457;
  box-shadow: 8px 8px 0px #9ac757;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
  color: white;
}

aside h2 {
  padding: 8px 15px 15px 15px;
  font-family: Arial, Verdana, sans-serif;
  font-size: 1.5em;
  color: white;
}

aside h3 {
  font-family: Arial, Verdana, sans-serif;
  font-size: 1em;
  color: #1a1a1a;
  margin-bottom: 10px;
}

aside div {
  padding: 15px 15px;
  background-color: #c7bc57;
  margin-bottom: 30px;
  border: 1px solid #9ac757;
}

aside p {
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.9em;
  margin-top: 10px;
  color: #1a1a1a;
}

#zumba {
  max-width: 100%;
  max-height: 100%;
}

#suplementos {
  max-width: 100%;
  max-height: 100%;
}

footer {
  clear: both;
  text-align: center;
  padding: 20px;
  background-color: #c78457;
  font-size: 0.8em;
  font-family: Arial, Verdana, sans-serif;
  box-shadow: 8px 8px 0px #9ac757;
  margin-top: 20px;
}

footer p {
  color: white;
  font-weight: bold;
}

.registrarseFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  padding-left: 250px;
}

.form {
  background-color: #c7bc57;
  width: 400px;
  padding: 20px 40px;
  box-shadow: 8px 8px 0px #9ac757;
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
  color: #1a1a1a;
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 2px solid #9ac757;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

::placeholder {
  color: transparent;
}

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: #c7bc57;
  color: #1a1a1a;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: #c78457;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.submitBtn:hover {
  background-color: #9ac757;
  color: white;
  transform: translateY(-2px);
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: #1a1a1a;
}

.input:not(:placeholder-shown) + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}
